@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    box-sizing: border-box;
}

body {
 
    background-image: url(https://wallpapercave.com/wp/wp3745613.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    font-family: "poppins",sans-serif;
    display: flex;
    flex-direction: column;
   
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    overflow: hidden;

}

h1{
    font-weight: normal;
    font-size: 50px;
    margin: -150px 0 40px;
}
.countdown {
    display: flex;
    transform: scale(1.7);
    color: rgb(149, 202, 35);
    align-items: center;
  }

  .time{
    display: flex;
    flex-direction:cloumn;
    align-items: center;
    justify-content: center;
    margin: 15px;
  }

  .time h2{
    font-size: bold;
    font-size: 36px;
    line-height: 1;
    margin: 0 0 5px;
  }
@media (max-width: 500px){
    h1{
        font-size:45;
    }
    .time{
        margin: 5px;
    }
    .time h2{
        font-size: 12px;
    }

    .time samll{
        font-size: 10px;
    }
}
  

